{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}    
    <h1>Delete Page</h1>

    <form action="{% url 'delete_page' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="title" value="{{ title }}">
        <p>Are you sure you want to delete this page?</p>
        <p>{{ title }}</p>
        <p>{{ content }}</p>
        <br>
        <input type="submit" value="Delete" class="btn btn-danger">
        
    </form>

   
{% endblock %}